<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Password</title>
        <link rel="stylesheet" href="../css/Style.css">
        <style>
            form {
                width: 300px;
                margin: 50px auto;
            }

            input {
                display : block;
                width: 100%;
                height: 30px;
                border: 1px solid #DDD;
                margin: 20px 0;
            }

            button {
                display: block;
                margin: auto;
                width: 200px;
                height: 40px;
                font-weight: normal;
                font-size: 15px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/user/ForgetPassword">
            @if(ViewBag.Ok != null)
            {
                <p style="display: block; color: Green">@ViewBag.Ok</p>
            }

            @if(ViewBag.Error != null)
            {
                <p style="display: block; color: red">@ViewBag.Error</p>
            }
            <div class="input-box">
                <label for="email">Email</label>
                <input type="email" id="email" name="emailTo" required />
            </div>

            <button type="submit">Send Password</button>
        </form>
    </body>
</html>